
@{
    ViewBag.Title = "Happy Birthday, Nana!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="birthday-message">
    <h1>Happy Birthday, Nana!</h1>
    <p>
        Sthandwa sam I have created this site as a gift for your birthday, I don't have a lot to give you so I hope you accept and enjoy it. I wish you a happy birthday baby. I’ve been writing and cancelling words lana coz i don’t know how to put shit or say shit. I hope you enjoy your day sthandwa sam like you deserve to, coz you deserve every good thing that’s coming on your way and I want you to know that. I want you to know that you’re kept and its forever. Wishing you a day filled with love and happiness. You are the best thing that ever happened to me. Happy Birthday, my love.  </p>
    <p>
        I love you so much my 22:22!
    </p>
</div>