
@{
    ViewBag.Title = "Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="us-gallery">
    <h2>Our Memories</h2>
    <div class="image-container">
        <div class="image">
            <img src="~/Content/Images/photo1.jpg" alt="Photo 1" />
            <div class="image-caption">Remember the MacD date?</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo2.jpg" alt="Photo 2" />
            <div class="image-caption">Blurr but perfect</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo3.jpg" alt="Photo 3" />
            <div class="image-caption">You looked so fine here</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo4.jpg" alt="Photo 4" />
            <div class="image-caption">Wish I was licking your V</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo5.jpg" alt="Photo 5" />
            <div class="image-caption">A sketch of us.</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo6.jpg" alt="Photo 6" />
            <div class="image-caption">ARE WE TWINS?</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo7.jpg" alt="Photo 7" />
            <div class="image-caption">ANGAZI NAMI</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo8.jpg" alt="Photo 8" />
            <div class="image-caption">You like this pic.</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo9.jpg" alt="Photo 9" />
            <div class="image-caption">You're perfect.</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo10.jpg" alt="Photo 10" />
            <div class="image-caption">We was at the Mall i remember.</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo11.jpg" alt="Photo 11" />
            <div class="image-caption">I'm sure we was about to fuck here.'</div>
        </div>
        <div class="image">
            <img src="~/Content/Images/photo12.jpg" alt="Photo 12" />
            <div class="image-caption">Yerrrr this day.</div>
        </div>
    </div>
</div>

<div class="custom-message">

    <p>I'm so grateful for every moment we share together. I love you!</p>
</div>